<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/pacientes-style.css">
    <title>Pacientes</title>
</head>

<body>
    <h1> Pacientes </h1>

    <div id="contenedorPrincipal">

        <h2>Agregar paciente</h2>
        <form method="POST" action="/api/v1/pacientes">
            <input type="text" name="nombre" placeholder="Nombre" required>
            <input type="text" name="apellido" placeholder="Apellido" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="contraseña" placeholder="Contraseña" required>
            <button class="botones" type="submit">Agregar</button>
        </form>

        <h2>Lista de pacientes registrados</h2>

        <ul>

            <% pacientes.forEach(paciente=> { %>
                <li>
                    ID: <%= paciente.id %> | Nombre: <%= paciente.nombre %> | Apellido: <%= paciente.apellido %> | Email: <%= paciente.email %>

                    <form action="/api/v1/pacientes/<%= paciente.id %>?_method=DELETE" method="POST" style="display:inline;">
                        <button class="botonEliminar" type="submit" onclick="return confirm('¿Estas seguro?')">Eliminar</button>
                    </form>
                </li>
                <% }) %>
        </ul>

    </div>
</body>

</html>